@media only screen and (max-width: 600px) {

@import url('https://fonts.googleapis.com/css?family=Ysabeau+Infant:400');
@import url('https://fonts.googleapis.com/css?family=Eczar:400');
/* 
SOCIAL BAR

.icon-bar {
    position: absolute;
    right: -25px;
    top: 80px;
    flex-direction: column;
  }


  .codepen {
    color: white;
    width: 50%;

  }
  
  .linkedin {
    color: white;
    width: 50%;

  }
  
  .github {
    color: white;
    width: 50%;

  }  */


  /* TYPOGRAPHIE */



html {font-size: 100%;} /*16px*/

body {
  background: rgb(41, 41, 41);
  font-family: 'Eczar', serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 0.8;
  color: #ffffff;
}

p {
    line-height: 0.8;
    margin-top: 10px;
}

.parabox {
    margin-bottom: 1rem;
    line-height: 1.2;
    text-align: left;
}

h1, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Eczar', serif ,Arial, Helvetica, sans-serif;
  font-weight: 200;
  line-height: 0.8;
  font-size: 25pt;
}

h1 {
  margin-top: 0;
  font-size: 35pt; 
  margin-bottom: -40px;
}

.custom-h3 {
    font-size: 25pt;
    color: #ffffff;
    text-align: left;
    margin-top: 3px;
  }


/* IMAGE */

.box-image {
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
        z-index: -1;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}


/* RESPONSIVEFLEXBOX */

.flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .flex-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
.flex-item-left {
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    flex-basis: fit-content;
    size: 50%;

  }
  
.flex-item-right {
    background-image: linear-gradient(to right, rgb(58, 8, 8), rgb(41, 0, 0));
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    flex-basis: fit-content;
  }
  
#student {
    font-family: 'Eczar', serif ,Arial, Helvetica, sans-serif;
    font-weight: 200;
    line-height: 0.8;
    font-size: 25pt;
}
#school {
margin-bottom: -20px;
}

}

