@media only screen and (min-width: 600px) {
    .flex-container {
        flex-direction: row;  
    }
    h1 ,h2 ,h3{
    font-size: 80%;
   }
  
   @import url('https://fonts.googleapis.com/css?family=Ysabeau+Infant:400');
@import url('https://fonts.googleapis.com/css?family=Eczar:400');

/* SOCIAL BAR */
/* Fixed/sticky icon bar (vertically aligned 10% from the top of the screen) */
/* .icon-bar {
    position: absolute;
    margin-left: 50%;
    margin-top: 30%;
    display: flex;
    flex-direction: row;
  }


  .codepen {
    color: white;
    width: 50%;
  }
  
  .linkedin {
    color: white;
    width: 50%;
  }
  
  .github {
    color: white;
    width: 50%;
  }  */


  /* TYPOGRAPHIE */



html {font-size: 100%;} /*16px*/

body {
  background: rgb(41, 41, 41);
  font-family: 'Eczar', serif, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 0.8;
  color: #ffffff;
}

p {
    margin-bottom: 1rem;
    line-height: 0.8;
    margin-top: 10px;
}

.parabox {
    margin-bottom: 1rem;
    line-height: 1.2;
    text-align: left;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Eczar', serif ,Arial, Helvetica, sans-serif;
  font-weight: 200;
  line-height: 0.8;
  font-size: 25pt;
}

h1 {
  margin-top: 0;
  font-size: 5.063rem; 
  margin-bottom: -40px;
  font-size: 45pt;
}

.custom-h3 {
    font-size: 25pt;
    color: #ffffff;
    text-align: left;
    margin-top: 3px;
  }
/* IMAGE */

.box-image {
        width: 100%;
        object-fit: cover;
        z-index: -1;
        border-radius: 50px;
}


/* RESPONSIVEFLEXBOX */

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .flex-container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
.flex-item-left {
    background-color: rgb(41, 41, 41);
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    flex-basis: fit-content;
  }
  
.flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    flex-basis: fit-content;
    background-image: linear-gradient(to right, rgb(58, 8, 8), rgb(41, 0, 0));
  }
#contenu {
    margin-top: -20px;
}  
  }