#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}

/* Card ------------------------------------ */

.card-wrapper {
  background: white;
  perspective: 1000px;
  cursor: pointer;
  padding: 35px;
}

.box {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flipped .box {
  transform: rotateY(180deg);
}

/* Typographie ------------------------------------ */
.h1 {
  font-size: 25pt;
}
.p {
  margin-top: -15px;
  font-size: 10pt;
}
